.products-container {
	padding: 20px;
	background-color: lightcyan;

	&__header {
		display: flex;
		justify-content: space-between;
		font-size: 16px;

		.title {
			text-decoration: underline;
			font-weight: bold;
		}
	}

	&__body {
		padding: 20px 0;
		&-content {
			display: grid;
			grid-template-columns: auto auto auto auto;
		}
		.no-products {
			height: 200px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

@media (max-width: 968px) {
	.products-container {
		&__body {
			&-content {
				grid-template-columns: auto auto auto;
			}
		}
	}
}

@media (max-width: 770px) {
	.products-container {
		&__body {
			&-content {
				grid-template-columns: auto auto;
			}
		}
	}
}
